.image-upload-container {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  display: inline-block;
}

.image-box {
  display: inline-block;
  position: relative;
}

.avatar {
  position: relative;
  width: 100%;
  height: 100%;
}

.avatar-image {
  width: 100%;
  height: 100%;
  border-radius: 32%;
  object-fit: cover;
  transition: opacity 0.3s ease;
}

.placeholder-image {
  width: 100%;
  height: 100%;
  display: flex;
}

.placeholder-icon {
  width: 100%;  /* Adjust the size of the placeholder image */
  height: auto;
  border-radius: 20%;
}


.hover-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  font-size: 24px;
  color: rgb(17, 16, 16); /* Change to desired icon color */
}

.image-box:hover .hover-icon {
  opacity: 1; /* Show icon on hover */
}

.image-box:hover .avatar-image {
  opacity: 0.3; /* Optional: Make the image slightly transparent when hovering */
}
