<app-spinner [isLoading]="isLoading">
    Dialies Loading, please wait...
   </app-spinner>
<div class="row" *ngIf="!isLoading">
    <div class="col-md-8">
        <mat-card class="w-100 p-10 mr-10 sm-mr-0">
            <custom-table 
            [tableData]="dialiesTable"
                [heading]="'Dailies History'"
                [tableColumns]="dialiesColumns"
                [isFilterable]="false"
                [isPageable]="true"
                [showButton]="false"
                buttonLabel="Add new Members"
                buttonIcon="add"
                (buttonClick)="openSchoolForm()"
                [showCheckboxes]="false"
                [paginationSizes]="[5,10]"
                [defaultPageSize]="10"
                (sort)="sortData($event)"
                (rowAction)="handleRowAction($event)"
                (rowClick)="onRowClicked($event)"
              class="w-100">
              
          </custom-table>
        </mat-card>
    </div>
    <div class="col-md-4">
        <mat-card class="flex-center p-32 ml-15 sm-mr-0">
            <app-pie-chart
            [chartData]="chartData"
            [chartLabels]="chartLabels"
            [colors]="chartColors"
            [chartWidth]="'300px'"
            [chartHeight]="'300px'">
        </app-pie-chart>
        </mat-card>
       
    </div>
</div>
