<div >
    <div class="row ml-0 mr-0">
        <div class="col-md-7 resetpassword flex-center align-center">
            
        </div>
        <div class="col-md-5 align-end">
            
                <div class="login-card  w-100 flex-center h-100">
                    <h2>Password Reset</h2>
                    <form [formGroup]="logForm" (ngSubmit)="onSubmit()" class="w-75" >
                        <div class="row  w-100 ml-0 mr-0">
                          <div class="col-md-12">
                            <app-inputs
                            [parentForm]="logForm"
                            controlName="username"
                            label="emai"
                            placeholder="Email"
                            [type]="'email'"
                            [showBorders]="false"
                            [icon]="'person'"
                            [required]=true
                            [validationMessages]="{ required: 'Email is required' }"
                          ></app-inputs>
                          
                          </div>
                          <div class="col-md-12">
                            <app-inputs
                            [parentForm]="logForm"
                            controlName="newpassword"
                            label="New Password"
                            placeholder="New Passowrd"
                            [type]="'password'"
                            [showBorders]="false"
                            
                            [required]=true
                            [validationMessages]="{ required: 'Password is required' }"
                          ></app-inputs>
                          
                          </div>
                          <div class="col-md-12">
                            <app-inputs
                            [parentForm]="logForm"
                            controlName="confirmPassword"
                            label="Confirm Password"
                            placeholder="Confirm password"
                            [type]="'password'"
                            [showBorders]="false"
                            
                            [required]=true
                            [validationMessages]="{ required: 'password is required' }"
                          ></app-inputs>
                          
                          </div>
                      
                      
                          <!-- <div class="col-md-12 w-100">
                            <app-inputs
                            [parentForm]="logForm"
                            controlName="password"
                            label="password"
                            placeholder="password"
                            [type]="'password'"
                            [showBorders]="false"
                            [required]=true
                            [validationMessages]="{ required: 'Password is required' }"
                          ></app-inputs>
                          </div> -->
                      </div>
                      <div class="row w-100 ml-5">
                        <div class="col-md-12 w-100">
                          <!-- <button mat-raised-button color="primary" type="submit" [disabled]="logForm.invalid" class="w-100">
                              Login
                          </button> -->
                          <app-button label="Reset Password" type="submit" [textColor]="'#fff'" [buttonColor]="'#33A5DC'"  [buttonWidth]="'100%'" class="w-100"></app-button>
                          <!-- <div class="col-md-12  ">
                            <p class="float-right">Forgot Password ?</p>
                          </div> -->
                      </div>
                      <div class="col-md-12 w-100 mt-10">
                        <!-- <button mat-raised-button color="primary" type="submit" [disabled]="logForm.invalid" class="w-100">
                            Login
                        </button> -->
                        <app-button label="Cancel" type="button" [textColor]="'#000'" [buttonColor]="'#fff'"  [buttonWidth]="'100%'"></app-button>
                        <!-- <div class="col-md-12  ">
                          <p class="float-right">Forgot Password ?</p>
                        </div> -->
                    </div>
                      </div>
                      
                      
                    </form>
                  </div>
        </div>
    </div>
</div>

