// Custom Material button styles
::ng-deep .mat-button {
    background-color: $primary-color;
    color: white;
    &:hover { background-color: darken($primary-color, 10%); }
  }
  
  // Material input field styles
  ::ng-deep .mat-form-field {
    width: 100%;
    .mat-input-element { color: $text-color; font-size: 1rem; }
  }

  .mat-mdc-card{
    background-color: #fff !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgb(48 43 43 / 65%) !important;
  }
  .mat-mdc-dialog-container .mat-mdc-dialog-title{
    font-weight: 900 !important;
    font-size: 2rem !important;
}