.login-card{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    // border-style: solid;
    // border-width: 0;
    background-color:#fff;
}
// .login-image{
//     background-image: url('../../../../public/images/auth/skywaves_software_company_logo\ \(1\).jpg');
//     background-size: cover;
//     background-color: grey;
    
// }