<div >
    <div class="row m-0 m-sm-40">
        <div class="col-md-7 ">
          <div class="login-image w-100 flex-center align-center h-100 ">
            <!-- <h1>login</h1> -->
          </div>
            
        </div>
        <div class="col-md-5 align-end">
            
                <div class="login-card  w-100 flex-center h-100 m-0">
                    <h2>Sign In</h2>
                    <div class="row flex-center mt-0 ">
                      <p>Welcome back! Please enter your details</p>
                    </div>
                    <form [formGroup]="logForm" (ngSubmit)="onSubmit()" >
                        <div class="row sm-m-10">
                          <div class="col-md-12">
                            <app-inputs
                            [parentForm]="logForm"
                            controlName="username"
                            label="Username"
                            placeholder="Enter username"
                            [type]="'email'"
                            [showBorders]="false"
                            [icon]="'person'" 
                            [required]=true
                            [validationMessages]="{ required: 'Username is required',
                               email: 'Enter a valid email address'
                             }"
                          ></app-inputs>
                          
                          </div>
                      
                      
                          <div class="col-md-12">
                            <app-inputs
                            [parentForm]="logForm"
                            controlName="password"
                            label="password"
                            placeholder="password"
                            [type]="'password'"
                            [showBorders]="false"
                            [required]=true
                            [validationMessages]="{ required: 'Password is required' }"
                          ></app-inputs>
                          </div>
                      </div>
                      <div class="row">
                        
                          <!-- <button mat-raised-button color="primary" type="submit" [disabled]="logForm.invalid" class="w-100">
                              Login
                          </button> -->
                          <app-button label="Sign In" type="submit" [textColor]="'#fff'" [buttonColor]="'#000000'"  [buttonWidth]="'100%'" class="w-100"></app-button>
                          <div class="col-md-12">
                            <p class="float-left f-w-900" (click)="forgot()">Forgot Password ?</p>
                          </div>
                      </div>
                     
                      
                      
                    </form>
                  </div>
        </div>
    </div>
</div>

