.login-card{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    // border-style: solid;
    // border-width: 0;
    background-color:#fff;
}
.forgot {
    cursor: pointer;
    color: #000; /* Default color */
    transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.forgot:hover {
    color: #8F1402; /* Color change on hover */
    text-decoration: underline; /* Optional underline effect */
}