<div >
    <div class="row m-0 ">
      <div class="col-md-7 ">
        <div class="resetpassword w-100 flex-center align-center h-100 ">
          <!-- <h1>login</h1> -->
        </div>
        </div>
        <div class="col-md-5 align-end">
            
                <div class="login-card  w-100 flex-center h-100 pl-20">
                    <h2>Reset Password</h2>
                    <div class="row flex-center">
                      <p>We’ve sent a 4 digit OTP to your email</p>
                    </div>
                    <div class="row flex-center">
                      <p class="f-w-900">{{username}}</p>
                    </div>
                    <form (ngSubmit)="otpSubmit()">
                        <!--Mobile icon comes here-->
                        <p class="textcenter">
                          <img *ngIf="mobile" width="50%" class="align-items-center justify-content-center" src="assets/images/logos/ivin-logo.svg">
                        </p>
                        <!--Mobile icon comes here-->
                        <!--Login Form Starts here-->
                        <!-- <app-error class="text-center f-w-400 f-s-14" [errorMessage]="invalidOtp"></app-error> -->
          
                          
                          <div class="otp-input m-t-40 d-flex otpboxes">
                            <input #input1 type="text" maxlength="1" [(ngModel)]="otpValue[0]" (input)="onOtpInputChange(0, input2, null)" (keydown)="onKeyDown($event, null, input2)" [ngModelOptions]="{ standalone: true }" autofocus  />
                            <input #input2 type="text" maxlength="1" [(ngModel)]="otpValue[1]" (input)="onOtpInputChange(1, input3, input1)" (keydown)="onKeyDown($event, input1, input3)" [ngModelOptions]="{ standalone: true }"  />
                            <input #input3 type="text" maxlength="1" [(ngModel)]="otpValue[2]" (input)="onOtpInputChange(2, input4, input2)" (keydown)="onKeyDown($event, input2, input4)" [ngModelOptions]="{ standalone: true }"  />
                            <input #input4 type="text" maxlength="1" [(ngModel)]="otpValue[3]" (input)="onOtpInputChange(3, null, input3)" (keydown)="onKeyDown($event, input3, null)" [ngModelOptions]="{ standalone: true }"  />
                        </div>
                          <div class="textcenter f-w-400 f-s-14 m-b-54 m-2">
                            {{ otpSentMessage || (otpExpired ? "Your OTP has expired. Click on Resend to get a new   ." : "Didn't receive the code?" ) }}
                            <span [ngStyle]="{'color': resendButtonDisabled ? '#999999' : '#8F1402', 'cursor': resendButtonDisabled ? 'not-allowed' : 'pointer'}"  [attr.disabled]="resendButtonDisabled ? 'disabled' : null" class="text-primary focus:outline-none">
                              {{ countdownSeconds > 0 ? formatCountdownTime(countdownSeconds) : 'Resend' }}
                            </span>
                          </div>
                          <!-- <div class="text-center text-danger m-b-10" *ngIf="invalidDetailsMessage" style="color: red;">
                            {{ invalidDetailsMessage }}
                          </div> -->
                          
                            <div class="row flex-center w-100 ml-2 mt-10">
                              <app-button label="Continue" type="submit" [textColor]="'#fff'" [buttonColor]="'#33A5DC'"  [buttonWidth]="'100%'" class="w-100"></app-button>
                            </div> 
                            <div class="row flex-center w-100 mt-10 ml-2">
                              <app-button label="Back" type="button" [textColor]="'#000'" [buttonColor]="'#fff'"  [buttonWidth]="'100%'" class="w-100"></app-button>
                            </div>
                          
                          <!-- <app-button label="Submit" type="submit"></app-button> -->
                        </form>
                      </div>
        </div>
    </div>
</div>


