.mat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    box-shadow: 0 1px 3px rgb(48 43 43 / 65%) !important;
  
    .header-logo img {
      height: 40px;
      width: auto;
    }
  
    .header-search {
      width: 300px;
    }
  
    .spacer {
      flex: 1;
    }
  
    .header-notification {
      position: relative;
  
      .notification-badge {
        position: absolute;
        top: -5px;
        right: -5px;
        background: red;
        color: white;
        font-size: 10px;
        padding: 2px 5px;
        border-radius: 50%;
      }
    }
    .mat-mdc-text-field-wrapper{
        margin-top: 20px !important;
    }
  }
  