<div class="container">
    <div class="row m-10">
        <div class="col-md-6">
            <div class="row">
                <app-heading [heading]="'New Role'" class="heading"></app-heading>
                
            </div>
            <div class="row mt-40">
                <form [formGroup]="logForm" (ngSubmit)="onSubmit()" >
                    <div class="row  w-100 ml-0">
                        <div class="col-md-12">
                            <label>Employee Name</label>
                        </div>
                      <div class="col-md-12 pl-8 mt-5">
                        <app-inputs
                        [parentForm]="logForm"
                        controlName="username"
                        label="Employee Name"
                        placeholder="Enter Employee Name"
                        [type]="'text'"
                        [showBorders]="false"
                        [icon]="''" 
                        [required]=true
                        [validationMessages]="{ required: 'Employee Name is required',
                           
                         }"
                      ></app-inputs>
                      
                      </div>
                      <div class="col-md-12">
                        <label>Phone Number</label>
                    </div>
                  
                      <div class="col-md-12 w-100 mt-5 pl-8">
                        <app-inputs
                        [parentForm]="logForm"
                        controlName="phone"
                        label="Phone Number"
                        placeholder="Phone Number"
                        [type]="'number'"
                        [showBorders]="false"
                        [required]=true
                        [validationMessages]="{ required: 'Phone Number is required' }"
                      ></app-inputs>
                      </div>

                      <div class="col-md-12">
                        <label>Email Id</label>
                    </div>
                  
                      <div class="col-md-12 w-100 mt-5 pl-8">
                        <app-inputs
                        [parentForm]="logForm"
                        controlName="email"
                        label="Email Id"
                        placeholder="Email Id"
                        [type]="'email'"
                        [showBorders]="false"
                        [required]=true
                        [validationMessages]="{ required: 'Email is required',
                            email: 'Enter a valid email address'
                         }"
                      ></app-inputs>
                      </div>
                      <div class="col-md-12">
                        <label>Password</label>
                    </div>
                  
                      <div class="col-md-12 w-100 mt-5 pl-8">
                        <app-inputs
                        [parentForm]="logForm"
                        controlName="password"
                        label="Password"
                        placeholder="Password"
                        [type]="'password'"
                        [showBorders]="false"
                        [required]=true
                        [validationMessages]="{ required: 'Password is required'
                         }"
                      ></app-inputs>
                      </div>
                      <div class="col-md-12">
                        <label>Confirm Password</label>
                    </div>
                  
                      <div class="col-md-12 w-100 mt-5 pl-8">
                        <app-inputs
                        [parentForm]="logForm"
                        controlName="cpassword"
                        label="Confirm Password"
                        placeholder="Password"
                        [type]="'password'"
                        [showBorders]="false"
                        [required]=true
                        [validationMessages]="{ required: 'Please Confirm the Password'
                         }"
                      ></app-inputs>
                      </div>
                      <div class="col-md-12">
                        <label>Employee Role</label>
                    </div>
                  
                      <div class="col-md-12 w-100 mt-5 pl-8">
                        <app-inputs
                        [parentForm]="logForm"
                        controlName="role"
                        label="Employee Role"
                        placeholder="Role"
                        [type]="'text'"
                        [icon]="''"
                        [showBorders]="false"
                        [required]=true
                        [validationMessages]="{ required: 'Role is required'
                         }"
                      ></app-inputs>
                      </div>
                  </div>
                  <div class="row flex-center">
                      <app-button label="Done" type="submit" [textColor]="'#fff'" [buttonColor]="'#33A5DC'"  [buttonWidth]="'100%'" class="w-50"></app-button>       
                  </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 ">
            <mat-card class="ml-50 p-32 ml-sm-0">
                <app-list
                [data]="[
                    { avatar: 'RS', name: 'Rudy Strosin', designation: 'Manager' },
                    { avatar: 'CW', name: 'Christie Wuckert', designation: 'Developer' },
                    { avatar: 'JD', name: 'John Doe', designation: 'Designer' }
                ]"
                ></app-list>
            </mat-card>
        </div>
    </div>
</div>
